@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .header .container {
    align-items: center;
  }

  .header__nav {
    position: absolute;
    top: 90px;
    left: 0;
    margin: 0;
    padding-bottom: 30px;
    width: 100%;
    background-color: var(--black-color);
    overflow-y: auto;
    transform: scaleY(0);
    transform-origin: top;
    transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .nav__list {
    flex-direction: column;
    margin: 0 auto;
    padding: 0 30px;
    max-width: 750px;
  }

  .nav__item {
    padding: 0;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .burger {
    position: relative;
    display: block;
    margin-left: auto;
    width: 35.75px;
    height: 25.75px;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 0.25rem;
    z-index: 1000;
    color: #000;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 18.75px;
    height: 1.5px;
    border-radius: inherit;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 5px;
  }

  .burger__line:nth-child(3) {
    bottom: 5px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;
  }

  .burger--active .burger__line:last-child {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .hero__container {
    padding-top: 50px;
  }

  .animated-headlines .cd-headline span {
    font-size: 30px;
  }

  .about-me__left {
    display: none;
  }

  .about-me__right {
    max-width: 100%;
  }

  .list__item {
    width: calc((100% - var(--gap)) / 2);
  }

  .facts__list {
    flex-wrap: wrap;
  }

  .facts__item {
    margin-bottom: var(--gap);
    width: calc((100% - var(--gap)) / 2);
  }

  .portfolio__card-item {
    width: calc((100% - var(--gap)) / 2);
  }

  .portfolio__btn--active:hover {
    outline: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 570px;
  }

  .hero__container {
    padding-top: 0;
  }

  .list__item {
    width: 100%;
  }

  .portfolio__card-item {
    width: 100%;
  }

  .contact__content {
    flex-direction: column;
    align-items: center;
  }

  .form {
    margin-bottom: 40px;
    width: 100%;
  }

  .contact__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__descr {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .nav__link {
    font-size: 12px;
  }

  .hero__hello {
    font-size: 16px;
  }

  .animated-headlines .cd-headline span {
    font-size: 26px;
  }

  .hero__descr {
    font-size: 12px;
  }

  .link {
    font-size: 12px;
  }

  .section-title {
    font-size: 26px;
  }

  .about-me__container {
    padding-top: 95px;
  }

  .about-me__descr {
    font-size: 13px;
  }

  .list__title {
    font-size: 16px;
  }

  .list__descr {
    font-size: 12px;
  }

  .services {
    padding: 95px 0 60px 0
  }

  .section-title {
    margin-bottom: 40px;
  }

  .facts {
    padding: 95px 0;
  }

  .facts__item {
    width: 100%;
  }

  .portfolio {
    padding: 95px 0 30px 0;
  }

  .portfolio__title {
    margin-bottom: 40px;
  }

  .portfolio__btn {
    font-size: 13px;
  }

  .form input, .form textarea {
    font-size: 11px;
  }

  .form__btn {
    font-size: 13px;
  }

  .contact {
    padding: 90px 0 30px 0;
  }

  .contact__title {
    margin-bottom: 40px;
  }

  .contact__descr {
    font-size: 12px;
  }

  .footer__descr {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  :root {
    --gap: 15px;
  }

  .container {
    padding: 0 5px;
  }

  .header {
    padding: 5.5px 0;
  }

  .header__nav {
    top: 70px;
  }

  .nav__link {
    font-size: 9px;
  }

  .hero {
    margin-top: 70px;
  }

  .hero__hello {
    font-size: 10px;
  }

  .animated-headlines .cd-headline span {
    font-size: 18px;
  }

  .hero__descr {
    font-size: 9px;
  }

  .link {
    font-size: 9px;
  }

  .about-me__container {
    padding-top: 70px;
  }

  .section-title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .about-me__descr {
    margin: 0;
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 20px;
  }

  .services {
    padding: 75px 0 30px 0;
  }

  .list__item {
    padding: 15px;
  }

  .list__item span,
  .list__item svg {
    margin-bottom: 10px;
  }

  .list__title {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .list__descr {
    font-size: 10px;
    line-height: 18px;
  }

  .facts {
    padding: 75px 0;
  }

  .portfolio {
    padding: 75px 0 15px 0;
  }

  .portfolio__btn {
    font-size: 11px;
  }

  .contact {
    padding: 75px 0 15px 0;
  }

  .form input, .form textarea {
    font-size: 9px;
  }

  .form__btn {
    font-size: 11px;
  }

  .form {
    margin-bottom: 25px;
  }

  .contact__descr {
    font-size: 9px;
  }

  .footer {
    padding: 25px 0;
  }

  .footer__descr {
    font-size: 9px;
  }

}
