/* FONTS */
@font-face {
  font-family: "Muli";
  src: local("Muli-Regular"),
    url("../fonts/MuliRegular.woff2") format("woff2"),
    url("../fonts/MuliRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: local("Muli-SemiBold"),
    url("../fonts/MuliSemiBold.woff2") format("woff2"),
    url("../fonts/MuliSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: local("Muli-Bold"),
    url("../fonts/MuliBold.woff2") format("woff2"),
    url("../fonts/MuliBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: local("Muli-ExtraBold"),
    url("../fonts/MuliExtraBold.woff2") format("woff2"),
    url("../fonts/MuliExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* glob */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --gap: 30px;
  --black-color: #2b2c2c;
  --white-color: #fff;
  --orange-color: #e0a80d;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Muli', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.flex {
  display: flex;
}

/* header */
.header {
  padding: 15.5px 0;
  background: #2b2c2c
}

.header__link {
  padding-top: 3px;
  padding-bottom: 3px;
}

.header__link:hover svg{
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

.header__nav {
  margin: auto 0;
  margin-left: auto;
}

.nav__item {
  padding: 0 20px;
}

.nav__link {
  padding: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #7d8792;
  transition: color 0.2s ease-in-out, outline 0.2s ease-in-out;
}

.nav__link:focus {
  border-radius: 30px;
  outline: solid 2px #7d8792;
  outline-offset: 5px;
  color: #7d8792;
}

.nav__link:hover {
  color: var(--white-color);
}

.nav__link:active {
  color: #7d8792;
}

.burger {
  display: none;
}

/* hero */
.hero {
  align-items: center;
  margin-top: 90px;
  height: calc(100vh - 92px);
  background: url(../img/slider-bg.png) center center no-repeat;
  background-color: #2b2e2e;
  background-attachment: fixed;
}

.hero__container {
  flex-direction: column;
  align-items: center;
}

.hero__hello {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  color: var(--white-color);
}

.cd-headline {
  margin: 0;
  margin-bottom: 0.5rem;
}

.animated-headlines .cd-headline span {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--orange-color);
}

.hero__descr {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: var(--white-color);
}

.link {
  margin-top: 20px;
  padding: 14px 30px;
  border: solid 2px var(--orange-color);
  border-radius: 35px;
  font-size: 14px;
  font-weight: 500;
  color: var(--white-color);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.hero__link:hover {
  color: #000;
  background-color: var(--orange-color);
}

.hero__link:active {
  background-color: #987104;
}

.hero__link {
  z-index: 100;
}

.particels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* about-me */
.about-me {
  background-color: #2b2e2e;
}

.about-me__container {
  padding-top: 130px;
}

.about-me__left {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 33.333333%;
}

.about-me__left img {
  padding-right: 50px;
}

.about-me__right {
  max-width: 66.666667%;
}

.section-title {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 30px;
  font-weight: 800;
  color: var(--orange-color);
}

.about-me__descr {
  margin: 20px 0 40px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #bac8d3;
}

.btn1 {
  margin-right: 15px;
  padding: 10px 30px;
  border: none;
  background-color: var(--orange-color);
  transition: outline 0.2s ease-in-out, outline-offset 0.2s ease-in-out;
}

.btn1:hover {
  outline-offset: 2px;
  outline: solid 2px var(--orange-color);
}

.btn1:active {
  outline: none;
  background-color: #987104;
}

.btn2 {
  padding: 10px 50px;
}

.btn2:hover {
  outline-offset: -4px;
  outline: solid 2px #2b2e2e;
  background-color: var(--orange-color);
}

.btn2:active {
  outline: none;
  background-color: #987104;
}

/* services */
.services {
  padding: 130px 0 90px 0;
  background: #2d2e2e;
}

.services__title {
  text-align: center;
  margin-bottom: 60px;
}

.services__list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.list__item {
  margin-bottom: var(--gap);
  padding: 40px;
  width: calc((100% - (var(--gap) * 2)) / 3);
  background: #212222;
  transition: outline 0.5s ease-in-out, outline-offset 0.5s ease-in-out;
}

.list__item svg {
  margin-bottom: 20px;
  width: 30px;
  height: 30px;
  fill: var(--orange-color);
}

.list__item:hover {
  outline: solid 2px var(--orange-color);
  outline-offset: 5px;
}

.list__item span{
  margin-bottom: 20px;
  font-size: 30px;
  color: #e0a80d;
}

.list__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: #eee;
}

.list__descr {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #bac8d3;
}

/* facts */
.facts {
  padding: 130px 0;
  background: url(../img/facts-bg.png) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.facts__item span {
  font-size: 30px;
  color: #e0a80d;
}

.facts__list {
  justify-content: space-between;
}

.facts__item {
  width: calc((100% - (var(--gap) * 3)) / 4);
  text-align: center;
}
.fa {
  margin-bottom: 20px;
}

.facts__title {
  margin-bottom: 10px;
}

.facts__subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white-color);
}

/* portfolio */
.portfolio {
  padding-top: 130px;
  background-color: #2b2e2e;
}

.portfolio__container {
  flex-direction: column;
  align-items: center;
}

.portfolio__title {
  margin-bottom: 60px;
}

.portfolio__list {
  margin-bottom: var(--gap);
}

.portfolio__item:not(:last-child) {
  margin-right: 10px;
}

.portfolio__btn {
  padding: 10px 20px;
  height: 100%;
  font-size: 15px;
  font-weight: 600;
  color: #bac8d3;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.portfolio__btn:hover {
  color: var(--white-color);
}

.portfolio__btn:active {
  color: #bac8d3;
}

.portfolio__btn--active {
  border-radius: 35px;
  color: var(--white-color);
  background: var(--orange-color);
  transition: outline 0.2s ease-in-out;
}

.portfolio__btn--active:hover {
  outline-offset: -4px;
  outline: solid 2px #2b2e2e;
}

.portfolio__btn--active:active {
  color: #bac8d3;
  background-color: #987104;
}

.portfolio__card-list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__card-item {
  display: none;
  position: relative;
  margin-bottom: var(--gap);
  width: calc((100% - (30px * 2)) / 3);
}

.portfolio__card-item--active {
  display: block;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.2%;
  text-align: center;
  background-color: var(--orange-color);
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.overlay__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.portfolio__card-item:hover .portfolio__overlay{
  opacity: 0.9;
}

.portfolio__subtitle {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-weight: 500;
  color: var(--white-color);
}

.portfolio__descr {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 200;
  color: var(--white-color);
}

/* contact  */
.contact {
  padding: 130px 0;
  background-color: #2b2e2e;
}

.contact__title {
  text-align: center;
  margin-bottom: 60px;
}

.contact__content {
  justify-content: space-between;
}

.form {
  flex-direction: column;
  width: 65.77%;
}

.form input,
.form textarea {
  margin-bottom: 10px;
  border: 0;
  border-radius: 10px;
  font-size: 13px;
  line-height: 1.5;
  color: #495057;
  background: #fcf2f2;
  outline: none;
}

.form input {
  padding: 18px 25px;
}

.form textarea {
  padding: 25px;
  height: 148px;
  resize: none;
}

.contact__iner {
  justify-content: space-between;
  width: 100%;
}

.contact__iner input {
  width: calc((100% - var(--gap)) / 2);
}

.form__btn {
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  background: #e0a80d;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out, outline 0.2s ease-in-out;
}

.form__btn:hover {
  outline-offset: -5px;
  outline: solid 2px #2b2e2e;
}

.form__btn:active {
  outline: none;
  background-color: #987104;
}

.contact__left {
  width: 28%;
}

.contact__left span {
  margin-bottom: 10px;
  font-size: 20px;
  color: #e0a80d;
}

.contact__descr {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #eee;
}

.contact__descr a {
  transition: color 0.2s ease-in-out, outline 0.2s ease-in-out;
}

.contact__descr a:focus {
  outline-offset: 1px;
  outline: solid 1px var(--orange-color);
}

.contact__descr a:hover {
  color: var(--orange-color);
}

.contact__descr a:active {
  outline: none;
  color: #7d8792;
}

/* footer */
.footer {
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  background: #242527;
}

.footer__item:not(:last-child) {
  margin-right: 10px;
}

.footer__link span {
  color: #e0a80d;
  padding: 0 5px;
  transition: color 0.2s ease-in-out;
}

.footer__descr {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

.footer__link:hover span {
  color: var(--white-color);
}

.footer__link:active span {
  color: #987104;
}

.footer__link svg {
  position: relative;
  top: 2px;
  height: 15px;
  fill: var(--orange-color);
  transition: fill 0.2s ease-in-out;
}

.footer__link:hover svg {
  fill: var(--white-color);
}

.footer__link:active svg {
  fill: #987104;
}
