/* FONTS */
@font-face {
  font-family: "Cinzel";
  src: local("Cinzel-Regular"),
    url("../fonts/CinzelRegular.woff2") format("woff2"),
    url("../fonts/CinzelRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel";
  src: local("Cinzel-Bold"),
    url("../fonts/CinzelBold.woff2") format("woff2"),
    url("../fonts/CinzelBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: local("Bahnschrift-Regular"),
    url("../fonts/BahnschriftRegular.woff2") format("woff2"),
    url("../fonts/BahnschriftRegular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* glob */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --gap: 30px;
  --white-color: #fff;
  --black-color: #0c0c0c;
  --pink--color: #ed7a9a;
  --hover-pink--color: #fb9cb7;
  --active-pink--color: #888;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Bahnschrift', sans-serif;
  color: var(--black-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cinzel', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1130px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

/* header */
.header {
  position: fixed;
  z-index: 100;
  padding: 6px 0;
  height: 106.40px;
  width: 100%;
}

.header .container .row {
  justify-content: space-between;
  border-bottom: solid 2px var(--white-color);
}

.header__link {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__link svg {
  display: inline-block;
  height: 80px;
}

.header__nav {
  margin: auto 0;
}

.nav__list {
  justify-content: space-between;
}

.nav__item {
  position: relative;
}

.nav__link {
  font-family: 'Cinzel', sans-serif;
  font-size: 14px;
  line-height: 29px;
  font-weight: 500;
  color: var(--white-color);
  text-transform: uppercase;
  text-shadow: black 0 0 2px;
}

.nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: var(--pink--color);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:focus::before {
  opacity: 1;
}

.nav__link:hover::before {
  opacity: 1;
}

.nav__link:active::before {
  opacity: 0;
}

.header__contacts {
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.header__link-contacts {
  position: relative;
  display: inline-block;
  font-family: 'Cinzel', sans-serif;
  font-size: 14px;
  line-height: 29px;
  font-weight: 600;
  color: var(--white-color);
  text-shadow: black 0 0 2px;
}

.header__link-contacts::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: var(--pink--color);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header__link-contacts:focus::before {
  opacity: 1;
}

.header__link-contacts:hover::before {
  opacity: 1;
}

.header__link-contacts:active::before {
  opacity: 0;
}

.header__link-contacts:not(:last-child) {
  margin-bottom: 10px;
}

.is_scrolled .header {
  background-color: var(--white-color);
}

.is_scrolled .header svg .cls-1 {
  fill: var(--black-color);
}

.is_scrolled .nav__link,
.is_scrolled .header__link-contacts {
  color: var(--black-color);
  text-shadow: none;
}

.swiper-slide {
  filter: brightness(70%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.slide1 {
  background-image: url(../file/slide1.jpg);
}

.slide2 {
  background-image: url(../file/slide2.jpg);
}

.slide3 {
  background-image: url(../file/slide3.jpg);
}

.slide4 {
  background-image: url(../file/slide4.jpg);
}

.slide5 {
  background-image: url(../file/slide5.jpg);
  background-position-y: top;
}

.slide6 {
  background-image: url(../file/slide6.jpg);
  background-position-y: top;
}

/* hero */
.hero {
  position: relative;
  height: 100vh;
}

.swiper {
  max-width: 1980px;
  height: 100%;
}

.hero__container {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 50;
  align-items: center;
  padding-top: 106.4px;
  height: 100vh;
  transform: translateX(-50%);
}

.hero .row {
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  margin: 0;
  margin-bottom: var(--gap);
  font-size: 62px;
  line-height: 1.075;
  font-weight: normal;
  color: var(--white-color);
  text-transform: uppercase;
  text-shadow: black 0 0 2px;
}

.hero__descr {
  margin: 0;
  margin-bottom: var(--gap);
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  color: var(--white-color);
  text-shadow: black 0 0 2px;
}

.hero__btn,
.btn {
  padding: 13px 26px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--pink--color);
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.hero__btn:focus,
.btn:focus {
  outline-offset: 2px;
  outline: solid 1px var(--pink--color);
  background-color: var(--pink--color);
}

.hero__btn:hover,
.btn:hover {
  background-color: var(--hover-pink--color);
}

.hero__btn:active,
.btn:active {
  background-color: var(--active-pink--color);
}

/* about-us */
.about-us {
  padding-top: 106.4px;
  background-image: url(../img/about-us_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  box-shadow: 0 0 8px 0px white inset;
}

.about-us .container {
  flex-direction: column;
  align-items: center;
}

.section-title {
  text-align: center;
  margin: 0;
  margin-bottom: var(--gap);
  border-bottom: solid 2px var(--pink--color);
  font-size: 36px;
  line-height: 1.33333;
  font-weight: normal;
  text-transform: uppercase;
}

.about-us__slogan {
  text-align: center;
}

.about-us__right {
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 4px;
}

.about-us__subtitle,
.about-us__slogan {
  margin: 0;
  margin-bottom: var(--gap);
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

.about-us__descr {
  margin: 0;
  margin-bottom: calc((var(--gap)) / 2);
  font-size: 15px;
  line-height: 1.66667;
  font-weight: 300;
}

.about-us__btn {
  margin-top: auto;
}

.about-us__left {
  justify-content: space-between;
}

.about-us__pers1,
.about-us__pers2 {
  width: calc((100% - 15px) / 2);
}

.about-us__pers1 img,
.about-us__pers2 img {
  max-height: 392px;
}

/* advantage */
.advantage {
  padding-top: 106.4px;
  background: -webkit-linear-gradient(180deg, #fff, #f6f7f8, #e1e8f2, #d9e1ee);
  background: linear-gradient(180deg, #fff, #f6f7f8, #e1e8f2, #d9e1ee);
}

.advantage .container {
  flex-direction: column;
  align-items: center;
}

.advantage__text {
  margin: 0;
  margin-bottom: var(--gap);
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
}

.advantage__text strong {
  font-family: 'Cinzel', sans-serif;
  text-transform: uppercase;
}

.advantage__list {
  justify-content: center;
}

.advantage__item {
  margin-bottom: 24px;
}

.advantage__content {
  flex-direction: column;
  padding: 15px;
  border: dashed 2px var(--pink--color);
  border-radius: 20px;
}

.advantage__item svg {
  margin-bottom: 15px;
  max-height: 40px;
  fill: var(--pink--color);
}

.advantage__descr {
  margin: 0;
  text-align: center;
  font-size: 15px;
  line-height: 1.66667;
  font-weight: 300;
}

/* portfolio */
.portfolio {
  padding-top: 106.4px;
  min-height: 732.56px;
  background: -webkit-linear-gradient(0deg, #fff, #f6f7f8, #e1e8f2, #d9e1ee);
  background: linear-gradient(0deg, #fff, #f6f7f8, #e1e8f2, #d9e1ee);
}

.portfolio .container {
  position: relative;
  flex-direction: column;
  align-items: center;
  min-height: 732.56px;
}

.portfolio .container::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  border-bottom: dotted 2px grey;
}

.portfolio__descr {
  margin: 0;
  margin-bottom: var(--gap);
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
}

.portfolio__item {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.portfolio__item:nth-child(2) {
  right: 10%;
  top: 40%;
}

.portfolio__item:nth-child(3) {
  right: 15%;
  top: 80%;
}

.portfolio__item:nth-child(4) {
  right: 20%;
  top: 120%;
}

.portfolio__item img {
  filter: brightness(80%);
  box-shadow: 0 0 5px #888;
}

.portfolio__item:hover {
  transform: scale(1.2);
  z-index: 50;
}

.porfolio__iner {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--white-color);
}

.portfolio__subtitle {
  margin: 0;
  margin-bottom: 5px;
}

.portfolio__text {
  margin: 0;
}

/* fake */
.fake {
  padding-top: 106.4px;
  background: -webkit-linear-gradient(180deg, #fff, #f6f7f8, #e1e8f2, #d9e1ee);
  background: linear-gradient(180deg, #fff, #f6f7f8, #e1e8f2, #d9e1ee);
}

.fake .row {
  position: relative;
}

.fake__image {
  margin-left: auto;
}

.fake__image img {
  box-shadow: 0 0 5px #888;
}

.fake__iner {
  position: absolute;
  top: 50%;
  left: 0;
  flex-direction: column;
  align-items: end;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 20px;
  background-color: gray;
  color: var(--white-color);
  opacity: 0.9;
  transform: translateY(-50%);
}

.fake__title {
  text-align: end;
  border-bottom: none;
}

.fake__descr {
  margin: 0;
  margin-bottom: var(--gap);
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.fake__link {
  margin: 0;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

/* services */
.services {
  padding-top: 106.4px;
  background: -webkit-linear-gradient(0deg, #fff, #f6f7f8, #e1e8f2, #d9e1ee);
  background: linear-gradient(0deg, #fff, #f6f7f8, #e1e8f2, #d9e1ee);
}

.services .container {
  flex-direction: column;
  align-items: center;
}

.services__descr {
  margin: 0;
  margin-bottom: var(--gap);
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
}

.services__descr i {
  font-family: 'Cinzel', sans-serif;
}

.services__list {
  align-items: flex-start;
  margin-bottom: var(--gap);
}

.services__iner,
.services__iner-dop {
  padding: 10px;
  height: 100%;
  border: solid 2px var(--pink--color);
  border-radius: 20px;
}

.services__iner-dop {
  border: dashed 2px var(--pink--color);
}

.services__iner-dop {
  flex-direction: column;
  min-height: 140px;
}

.services__subtitle {
  border-bottom: solid 2px var(--pink--color);
  border-radius: 20px;
  font-weight: 400;
  text-align: center;
}

.ac .ac-panel .ac-text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 15px;
  line-height: 1.66667;
  font-weight: 300;
}

.ac {
  border: none;
  background: inherit;
}

.ac .ac-header {
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.ac .ac-trigger {
  padding: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
}

.ac .ac-trigger::after {
  content: "";
}

.services__subtitle button:hover {
  transform: scale(1.14);
  transition: transform 0.3s ease-in-out;
}

.services__item.is-active img {
  display: none;
}

.services__iner img {
  border-radius: 20px;
}

.services__list-dop {
  justify-content: center;
  align-items: flex-start;
}

.services__item-dop {
  margin-bottom: 24px;
}

.services__text {
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  line-height: 1.66667;
  font-weight: 300;
  color: var(--white-color);
  text-align: center;
  background-color: var(--pink--color);
}

.services__link {
  align-self: flex-end;
  margin-top: auto;
}

.services__link--active {
  color: var(--active-pink--color);
}

.services__info {
  margin-bottom: 0;
}

.services__info--active {
  display: block;
}

/* decor */
.decor {
  padding-top: 106.4px;
  background: -webkit-linear-gradient(180deg, #fff, #f6f7f8, #e1e8f2, #d9e1ee);
  background: linear-gradient(180deg, #fff, #f6f7f8, #e1e8f2, #d9e1ee);
}

.decor .container {
  flex-direction: column;
  align-items: center;
}

.decor__image {
  box-shadow: 0 0 5px #888;
}

.decor__descr {
  margin: 0;
  margin-bottom: calc((var(--gap)) / 2);
}

.decor .row:not(:last-child) {
  margin-bottom: var(--gap);
}

.decor__left,
.decor__right {
  flex-direction: column;
  justify-content: center;
}

.decor__list {
  margin: 0;
  list-style: none;
}

/* contacts */
.contacts {
  padding-top: 106.4px;
  background: -webkit-linear-gradient(0deg, #fff, #f6f7f8, #e1e8f2, #d9e1ee);
  background: linear-gradient(0deg, #fff, #f6f7f8, #e1e8f2, #d9e1ee);
}

.contacts .container {
  flex-direction: column;
  align-items: center;
}

.contacts .row {
  position: relative;
}

.contacts__iner img {
  box-shadow: 0 0 5px #888;
}

.contacts__content {
  position: absolute;
  top: 50%;
  right: 0;
  flex-direction: column;
  align-items: start;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 20px;
  background-color: gray;
  color: var(--white-color);
  opacity: 0.9;
  transform: translateY(-50%);
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: var(--gap);
  font-weight: 400;
  text-align: start;
}

.contacts__links {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contacts__phone {
  flex-direction: column;
}

.contacts__link {
  position: relative;
}

.contacts__link:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: var(--pink--color);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.contacts__link:focus::before {
  opacity: 1;
}

.contacts__link:hover::before {
  opacity: 1;
}

.contacts__link:active::before {
  opacity: 0;
}

.contacts__social a {
  transition: outline 0.3s ease-in-out;
}

.contacts__social a:not(:last-child) {
  margin-right: 5px;
}

.contacts__social svg {
  width: 45px;
  fill: var(--pink--color);
  transition: fill 0.3s ease-in-out;
}

.contacts__social a:focus {
  outline: solid 1px var(--pink--color);
}

.contacts__social a:hover svg {
  fill: var(--hover-pink--color);
}

.contacts__social a:active svg {
  fill: var(--active-pink--color);
}

/* footer */
.footer {
  padding-top: 106.4px;
  background-image: url(../img/footer_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
  box-shadow: 0 0 8px 0px white inset;
}

.footer .row {
  justify-content: space-between;
  padding-top: var(--gap);
  padding-bottom: var(--gap);
  border-top: 2px solid var(--black-color);
}

/* modal */
.hystmodal__window {
  border-radius: 20px;
}

.modal {
  padding: var(--gap);
}

.modal__form {
  flex-direction: column;
  align-items: center;
}

.modal__title {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}

.modal__input {
  margin-bottom: 10px;
  padding: 8px;
  border: none;
  border-bottom: dotted 2px var(--pink--color);
  width: 100%;
}

.modal__input:nth-child(3) {
  margin-bottom: 25px;
}
