html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"),
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
}

/* glob */
:root {
  --hover-color: #F0BF5F;
  --primary-color: #CC9933;
  --active-color: #A47312;
  --white-color: #FFF;
  --black-color: #000;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.section-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black-color);
}

.section-offset {
  padding-top: 40px;
  padding-bottom: 30px;
}

/* header */
.header {
  padding: 30px 0;
  background-color: #F1F1F1;
}

.header-container {
  flex-direction: column;
  justify-content: center;
}

.header-top {
  align-items: center;
}

.header-logo {
  margin-right: 40px;
}

.header-tel {
  position: relative;
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
  transition: color 0.3s ease-in-out;
}

.header-tel::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border-radius: inherit;
  border: 1px solid var(--primary-color);
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header-tel:focus {
  color: var(--primary-color);
}

.header-tel:focus::after {
  opacity: 1;
}

.header-tel:hover {
  color: var(--primary-color);
}

.header-tel:active {
  color: var(--active-color);
}

.header-tel:active::after {
  opacity: 0;
}

.header-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}

.header-link svg {
  margin-right: 7px;
  width: 21px;
  height: 12px;
  fill: var(--primary-color);
  transition: fill 0.3s ease-in-out;
}

.header-link::after {
  content: "";
  position: absolute;
  top: -9px;
  left: -5px;
  bottom: -9px;
  right: -5px;
  border-radius: inherit;
  border: 1px solid var(--primary-color);
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header-link:focus::after {
  opacity: 1;
}

.header-link:hover svg {
  fill: var(--hover-color);
}

.header-link:hover {
  color: var(--hover-color);
}

.header-link:active {
  color: var(--active-color);
}

.header-top {
  margin-bottom: 30px;
}

.header-bottom {
  align-items: center;
  padding: 0 45px;
  border-radius: 15px;
  min-height: 70px;
  background: var(--white-color);
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-item-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  transition: color 0.3s ease-in-out;
}

.header-item-link::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border-radius: inherit;
  border: 1px solid var(--primary-color);
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header-item-link:focus {
  color: var(--primary-color);
}

.header-item-link:focus::after {
  opacity: 1;
}

.header-item-link:hover {
  color: var(--primary-color);
}

.header-item-link:active {
  color: var(--active-color);
}

.header-item-link:active::after {
  opacity: 0;
}

.header-nav {
  margin-right: auto;
}

.btn {
  padding: 13px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--primary-color);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header-btn:not(:last-child) {
  margin-right: 45px;
}

.btn:focus {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn:active {
  color: var(--white-color);
  background-color: var(--active-color);
}

/* main */
.main {
  background: #F1F1F1;
}

/* Спецпредложения */
.special-title {
  margin-bottom: 20px;
}

.special-list {
  justify-content: space-between;
}

.special-list-item {
  position: relative;
  align-items: flex-end;
  width: 573px;
}

.island-list {
  flex-direction: column;
}

.item-one {
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/maldives.jpg);
  background-size: cover;
}

.item-two {
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/krit.jpg);
  background-size: cover;
}

.island-list-item {
  position: relative;
}

.island-list-item:not(:last-child) {
  margin-bottom: 23px;
}

.flex-article {
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  max-width: 70%;
}

.article-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--white-color);
}

.island-title {
  font-size: 40px;
  line-height: 40px;
}

.article-price {
  margin-bottom: 47px;
  font-weight: 400;
  color: var(--white-color);
  opacity: 0.8;
}

.island-price {
  font-size: 20px;
  line-height: 20px;
}

.special-room {
  border-radius: 15px;
  background-image: url(../img/room.jpg);
  background-size: cover;
}

.room-title {
  font-size: 60px;
  line-height: 60px;
}

.room-price {
  font-size: 30px;
  line-height: 30px;
}

.article-link {
  padding-right: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--hover-color);
  background-image: url(../img/arow-special.svg);
  background-repeat: no-repeat;
  background-position: right center;
  transition: padding-right 0.3s ease-in-out, color 0.3s ease-in-out;
}

.article-link::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  border: 1px solid var(--primary-color);
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.article-link:focus::after {
  opacity: 1;
}

.article-link:hover {
  padding-right: 28px;
}

.article-link:active {
  padding-right: 17px;
  color: var(--white-color);
}

/* О нас */
.about-us-descr {
  max-width: 75%;
}

/* Услуги */
.services-list {
  flex-wrap: wrap;
}

.services-list-item {
  position: relative;
  flex-direction: column;
  margin-bottom: 23px;
  width: 573px;
  border-radius: 15px;
  background: var(--white-color);
}

.services-list-item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services {
  padding-bottom: 7px;
}

.services-image {
  margin-bottom: 26px;
  border-radius: 15px 15px 0px 0px;
}

.services-link-title {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 45px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}

.services-link {
  margin-right: 7px;
  transition: margin-right 0.3s ease-in-out;
}

.services-link-title svg {
  stroke: var(--primary-color);
  transition: stroke 0.3s ease-in-out;
}

.services-link::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  border: 1px solid var(--primary-color);
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.services-link:focus::after {
  opacity: 1;
}

.services-link-title:hover {
  color: var(--hover-color);
}

.services-link:hover {
  margin-right: 28px;
}

.services-link-title:hover svg {
  stroke: var(--hover-color);
}

.services-link-title:active {
  color: var(--active-color);
}

.services-descr {
  padding-bottom: 50px;
  padding-left: 45px;
  max-width: 80%;
  font-size: 16px;
  line-height: 32px;
}

/* Преимущества */
.advantages-list {
  flex-wrap: wrap;
}

.advantages-list-item {
  margin-bottom: 23px;
  width: 275px;
  border-radius: 15px;
  background: var(--white-color);
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.advantages-list-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.item-1 {
  background-image: url(../img/item-1.svg);
}

.item-2 {
  background-image: url(../img/item-2.svg);
}

.item-3 {
  background-image: url(../img/item-3.svg);
}

.item-4 {
  background-image: url(../img/item-4.svg);
}

.item-5 {
  background-image: url(../img/item-5.svg);
}

.item-6 {
  background-image: url(../img/item-6.svg);
}

.item-7 {
  background-image: url(../img/item-7.svg);
}

.item-8 {
  background-image: url(../img/item-8.svg);
}

.advantages-descr {
  padding: 116px 42px 41px 45px;
  font-size: 16px;
  line-height: 32px;
}

.advantages {
  padding-bottom: 7px;
}

/* Размещение */
.placing {
  padding-bottom: 7px;
}

.placing-list {
  flex-wrap: wrap;
}

.placing-list-item {
  margin-bottom: 23px;
  width: 374px;
  background: var(--white-color);
  border-radius: 15px;
}

.placing-list-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.placing-list-item:last-child {
  align-items: flex-end;
  justify-content: center;
}

.article-image {
  margin-bottom: 36px;
  border-radius: 15px 15px 0px 0px;
}

.placing-article {
  flex-direction: column;
  padding: 0 46px 41px 45px;
}

.placing-next {
  position: relative;
  background-image: url(../img/placing.jpg);
  background-size: cover;
}

.placing-text {
  margin-right: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.cash {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--black-color);
}

.placing-price {
  margin-right: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black-color);
}

.placing-top {
  align-items: center;
  margin-bottom: 16px;
}

.placing-title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black-color);
}

.placing-offset {
  margin-bottom: 20px;
}

.placing-btn {
  align-self: start;
}

.placing-link {
  padding-right: 17px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--white-color);
  background-image: url(../img/arow-placing.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.placing-link::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 15px;
  outline: none;
  opacity: 0;
}

/* Хочу тур */
.tour-offset {
  padding: 45px 40px;
  border-radius: 15px;
  background: #E9E9E9;
}

.tour-title {
  padding: 0;
}

.fieldset {
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding: 32px 28px;
  border: none;
  border-radius: 15px;
  background: var(--white-color);
}

.tour-list-item {
  align-items: center;
  margin: 0;
  margin-right: 41px;
}

.form-select {
  margin-top: 7px;
  width: 169px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.tour-input {
  margin-top: 7px;
  width: 121px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.tour-list-item label {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.tour-btn {
  padding: 13px 30px;
  width: 108px;
  height: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.input-number {
  border-bottom: 1px solid #E9E9E9;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

/* Контакты */
.contacts-offset {
  justify-content: space-between;
  padding: 45px;
  background: var(--white-color);
  border-radius: 15px;
}

.contacts-left {
  width: 375px;
}

.contacts-right {
  width: 653px;
  height: 528px;
  background-image: url(../img/reception.jpg);
}

.contacts-list-item {
  border-bottom: 1px solid #E9E9E9;
}

.contacts-item-title {
  margin: 0;
  min-width: 145px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.contacts-descr {
  margin: 0;
  margin-bottom: 23px;
  max-width: 55%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.graph-descr {
  margin: 0;
}

.item-offset {
  padding-top: 25px;
  padding-bottom: 23px;
}

.item-link {
  flex-direction: column;
}

.contacts-tel,
.contacts-mail {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}

.contacnts-span {
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.contacts-tel::after,
.contacts-mail::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border-radius: inherit;
  border: 1px solid var(--primary-color);
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.contacts-tel:focus::after,
.contacts-mail:focus::after {
  opacity: 1;
}

.contacts-tel:hover,
.contacts-mail:hover {
  color: var(--hover-color);
}

.contacts-tel:active,
.contacts-mail:active {
  color: var(--active-color);
}

.contacts-list {
  margin-bottom: 45px;
}

.contacts-btn {
  padding: 27px 30px;
}

/* Footer */
.footer {
  padding-top: 10px;
  padding-bottom: 40px;
  background: #F1F1F1;
}

.footer-offset {
  position: relative;
  padding: 45px;
  border-radius: 15px;
  background: #333333;
}

.footer-left {
  margin-right: 125px;
  width: 302px;
}

.footer-copy {
  display: inline-block;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: var(--white-color);
}

.footer-left-descr {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: var(--white-color);
}

.footer-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}

.footer-link::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border-radius: inherit;
  border: 1px solid var(--primary-color);
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer-link:focus::after {
  opacity: 1;
}

.footer-link:hover {
  color: var(--hover-color);
}

.footer-link:active {
  color: var(--active-color);
}

.footer-centr-descr {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--white-color);
}

.footer-phone {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.footer-mail {
  flex-direction: column;
  align-items: flex-start;
}

.social {
  flex-direction: column;
  margin-left: auto;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-link svg {
  fill: #999;
  transition: fill 0.3s ease-in-out;
}

.social-link:focus svg {
  fill: var(--primary-color);
}

.social-link:hover svg {
  fill: var(--primary-color);
}

.social-link:active svg {
  fill: var(--active-color);
}

.social-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-logo {
  position: absolute;
  top: 100px;
  right: 177px;
  width: 255px;
  height: 255px;
  background-image: url(../img/footer-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
